.contenido {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  width: 200px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

/* Contenedor de imagen */
.img {
  width: 100%;
}

/* Imagen */
.img img {
    width: 100%;
    height: fit-content;
    max-height: 200px;
    object-fit: contain;
    border-radius: 19px;
}

/* Parte inferior de la card */
.abajoCarda {
  padding: 15px;
  text-align: center;
}

.abajoCarda h3 {
  margin: 5px 0;
  font-size: 18px;
  text-align: left;
  color: rgb(119, 115, 115);
}

.abajoCarda p {
  font-size: 16px;
  color: #271558;
  margin-bottom: 12px;
  font-family: Sora, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Botón */
.botonAgregar {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.botonAgregar:hover {
  background-color: #333;
}
.colorLinea{
    color: rgb(151, 147, 147);
}